.center {
  max-width: 500px;
  margin: auto;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.canvasContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.container > * {
  flex: 1 50%;
}
#bet_input {
  background: none;
  color: black;
  font-size: 6em;
  line-height: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.item:focus {
  background: gray;
  outline-width: 0;
}

input:hover {
  background-color: #39c7a6;
  border: 5px black;
  outline-width: 2px;
  color: yellow;
}
.item {
  background: #42f5cb;
  padding: 5%;
  width: 30%;
  height: 2%;
  margin-top: 10px;
  max-width: 200px;
  padding-top: 10%;
  padding-bottom: 10%;
  line-height: 10%;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
input {
  font-size: 2em;
  border: none;
  border-radius: 0.5em;
}
#flip_button {
  line-height: 15%;
}
.invisible {
  position: absolute;
  left: -9999px;
}
#message_output {
  visibility: hidden;
  position: absolute;
  top: 10px;
  margin-left: 25px;
  background: #42f5cb;
  padding: 30px;
  max-width: 500px;
  max-height: 30px;
  line-height: 10%;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
#balance_output {
  left: 38%;
  position: absolute;
  top: 10px;
  margin-right: 20px;
  max-width: 500px;
  max-width: 500px;
  max-height: 30px;
  line-height: 10%;
  color: tomato;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
